.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
  background: rgba(23, 25, 29, 0.7);
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0px;
    flex-wrap: wrap;
  }
  .header__item__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header_item_contact {
      margin-left: 40px;
      display: flex;
      flex-direction: column;
      .tell {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: #ffffff;
        text-decoration: none;
      }
      .mail {
        margin-top: 3px;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        color: #ffffff;
        text-decoration: none;
      }
    }
    .header_item_btn {
      margin-left: 31px;
      a {
        background: #6911ad;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        text-decoration: none;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: #ffffff;
      }
    }
  }
  .switch input {
    display: none;
  }
  .moon {
    cursor: pointer;
  }
  .sun {
    cursor: pointer;
    display: none;
  }
  .header__list {
    display: flex;
    justify-content: space-between;
    width: 427px;
    li {
      a {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}
.header2 {
  display: none;
}
@media only screen and (max-width: 400px) {
  .header1 {
    display: none !important;
  }
  .header2 {
    display: block;
  }
  .header2__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px;
  }
  .sm-moon{
    cursor: pointer;
  }
  .sm-sun{
    display: none;
    cursor: pointer;

  }
}
